body {
      background-color: #ffe6f0;
    }

    .about-container {
      padding: 120px 0;
    }

    .about-heading {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .about-text {
      font-size: 1.1rem;
      line-height: 1.6;
    }

    .about-img {
      max-width: 100%;
      height: 350px;
      border-radius: 10px;
    }

    @media (max-width: 767px) {
      .about-heading {
        text-align: center;
      }

      .about-text {
        text-align: center;
      }
    }